#header {
    background-color: black;
    opacity: 0.9;
    height: 250px;
}

#imghead {
    height: 230px;
    width: 400px;
}

#mainDisplay {
    background-color: rgba(0,0,0,.2);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sub {
    background-color:fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#songTitle {
    background-color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#artist {
    background-color: #39ff1a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#album {
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#display {
    background-color: #39ff1a;
}

#similarArtist {
    background-color: blueviolet;
}

#cardBody {
    background-color: green;
}

#cardCenter {
    background-color:orange;
}

#cardCol {
    background-color: #b011ff
}
