#header {
    background-color: black;
    height: 250px;
}

#imghead {
    height: 230px;
    width: 400px;
}

#mainDisplay {
    background-color: transparent;
}

.cbod {
    background-color: transparent;
}

#displayArea { 
    background-color: transparent;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* opacity: 0.8; */
    
}

#sub {
    background-color:fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#songTitle {
    background-color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#artist {
    background-color: #39ff1a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#album {
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#display {
    background-color: #39ff1a;
}

#similarArtist {
    background-color: blueviolet;
}

#cardBody {
    background-color: transparent;
}

#cardCenter {
    background-color: transparent;
}

#cardCol {
    background-color: transparent
}

#cardHeader {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#artistInfoBtn, #similarArtistBtn, #topAlbumsBtn, #topTracksBtn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #4e043c;
    opacity: 0.8;
    color: white;
}

.fontWhite {
    color: white;
    font-size: 25px;
}

.lettering {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

